<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="templates/resume/resume.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/model">model</a></li>
            <li><a href="/resume">resume</a></li>
            <li><a href="/bio">biography</a></li>
        </ul>
    </nav>
    <h1>Resume</h1>
    <p>This is a simple HTML page served by FastAPI.</p>
    <iframe src= 
    "templates/resume/resume.pdf" 
                    width="800"
                    height="500"> 
            </iframe> 
</body>
</html>
