<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="templates/index.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/model">model</a></li>
            <li><a href="/resume">resume</a></li>
            <li><a href="/bio">biography</a></li>
        </ul>
    </nav>
    <h1>Hello, AM Methanon!</h1>
    <p>This is a simple ML app served by FastAPI.</p>


            <div class="container">
                <div class="row">
                    <img src="templates/index_bg.jpg" alt="Avatar" class="center" style="border-radius: 50%; width: 200px; height: 200px;"> 
                </div>
                <div class="row">
                    <div class="col">
                        <a href="/model">
                            <button type="button" class="btn btn-danger">model</button>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/resume">
                            <button type="button" class="btn btn-danger">resume</button>
                        </a>                    </div>
                    <div class="col">
                        <a href="/bio">
                            <button type="button" class="btn btn-danger">biography</button>
                        </a>                    </div>
                </div>
              </div>
   
</body>
</html>
